ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    padding: 10px;
    border-bottom: 1px solid #333333;
    display: flex;
}

.list-group-item {
    /*background: #EEFAFE;*/
}

.list-group-item--done {
    background: #E1F0E2;
}